<section class="header">
  <div class="header_main">
    <img src="./assets/pngs/scuba.png" alt="" class="header_logo">
    <h6 class="header_title">Some Sweet Title</h6>
  </div>
    <ul class="header_navOpts">
      <li class="header_navOpts_opt">Clown</li>
      <li class="header_navOpts_opt">Fish</li>
      <li class="header_navOpts_opt">Like</li>
      <li class="header_navOpts_opt">To</li>
      <li class="header_navOpts_opt">Clown</li>
      <li class="header_navOpts_opt">Around</li>
    </ul>
    <ul class="header_misc">
      <li class="header_navOpts_opt">Support</li>
      <li class="header_navOpts_opt">Login</li>
    </ul>
</section>